body{
    background: linear-gradient(135deg,#0F172A, #1E293B, #111827);
    color: #f9fafb;
}

h1, h2, h3, h4,h5,h6, p, b{
    color: #f9fafb;
}

.navbar{
    background: linear-gradient(135deg, #6366F1, #8B5CF6);
}
.offcanvas{
    background: linear-gradient(135deg, #6366F1, #8B5CF6);
}

#navbutton{
    border: 0;
}

#navbutton:focus{
    outline: none;
}


.btn-lg{
    width: 250px;
    border-end-end-radius: 10%;
    background: linear-gradient(135deg, #6366F1, #8B5CF6);
    color: #000;
    border-color: black;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.btn-lg:hover{
    background-color: #f0f0f0;
    border-color: #333;
}

.btn-lg:active{
    background-color: #fff;
    color: #fff;
    background-color: #dcdde0;
}


.maincard{
    border: none;
    padding: 20px;
    background-color: transparent;
}

.maincard:hover{
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

.cardbutton{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    background-color: #fff;
    color: #000;
    border-color: transparent;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.cardbutton:hover{
    background-color: #f0f0f0;
    color: #333;
}

.cardbutton:active{
    background-color: #fff;
    color: #fff;
    background-color: #dcdde0;

}

.hero-section h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
    
}


.button-d{
    border-color: lightblue;
}

.button-d:hover{
    background-color: lightblue;
}

.btn-outline-sucess{
    border-color: lightblue;
    background-color: lightskyblue;
    display: block;
    width: 30vw;
}

@keyframes lift {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

#card3:hover{
    border-color:#8B5CF6;
    animation-name: lift;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: rgba(255, 255, 255, 0.2);
}

.herocard{
    background-color: rgba(0, 0, 0, 0.2);
    margin: 20px;
}

#card2:hover{
    border-color:#8B5CF6;
    animation-name: lift;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: rgba(255, 255, 255, 0.2);
}

#card1:hover{
    border-color:#8B5CF6;
    animation-name: lift;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: rgba(255, 255, 255, 0.2);
}

#card1:active{
    border-color:#8B5CF6;
    animation-name: lift;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@keyframes tilt{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#card1:hover .herocardbtn{
    animation-name: tilt;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: rgba(255, 255, 255, 0.2);
}

#card2:hover .herocardbtn{
    animation-name: tilt;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: rgba(255, 255, 255, 0.2);
}

#card3:hover .herocardbtn{
    animation-name: tilt;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: rgba(255, 255, 255, 0.2);
}

.btn-kamsi{
    background: linear-gradient(135deg, #6366F1, #8B5CF6);
    color: #fff;
    border-color: #6366F1;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    display: block;
}

.btn-kamsi:hover{
    color: #fff;
    border-color: #8B5CF6;
}